* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Site Common Things. */
.common-title-s1 {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  color: #000000;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

@media (max-width: 991px) {
  .common-title-s1 {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .common-title-s1 {
    font-size: 24px;
  }
}
.common-dscrtxt-s2 {
  display: block;
  margin: 0px;
  padding: 0px;
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.common-dscrtxt-s2 p {
  display: block;
  margin: 0px;
  padding: 0px 0px 20px 0px;
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.common-dscrtxt-s2 p:last-child {
  padding: 0px;
}

@media (max-width: 991px) {
  .common-dscrtxt-s2 {
    font-size: 18px;
  }
  .common-dscrtxt-s2 p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .common-dscrtxt-s2 {
    font-size: 16px;
  }
  .common-dscrtxt-s2 p {
    font-size: 16px;
  }
}
.text-color-st1 {
  color: #52FF00;
}

.text-color-st2 {
  color: #041940;
}

.fill-st1 {
  fill: #52FF00;
}

.fill-st2 {
  fill: #041940;
}

.site-header-outer {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: #041940;
  padding: 50px 50px;
  z-index: 20;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.site-header-outer.minipad {
  padding: 25px 50px;
}

.header-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 10px 30px;
}

.logo-cont .text-1, .logo-cont .text-2 {
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}
.logo-cont .text-1 {
  color: #52FF00;
}
.logo-cont .text-2 {
  color: #ffffff;
}
.logo-cont .link {
  text-decoration: none;
}
.logo-cont .link:hover, .logo-cont .link:active {
  text-decoration: none;
}

.mobbtn-tglcnt {
  display: none;
}
.mobbtn-tglcnt .mobbtn {
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 0px;
  padding: 0px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
       -o-transform: translateY(-2px);
          transform: translateY(-2px);
}
.mobbtn-tglcnt .mobbtn:hover, .mobbtn-tglcnt .mobbtn:active {
  text-decoration: none;
  background-color: transparent;
  color: #ffffff;
}
.mobbtn-tglcnt .mobbtn .btnbase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mobbtn-tglcnt .mobbtn .base-bar {
  display: block;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 6px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.mobbtn-tglcnt .mobbtn .base-bar-1 {
  width: 20px;
}
.mobbtn-tglcnt .mobbtn .base-bar-3 {
  width: 20px;
  margin-left: auto;
  margin-bottom: 0px;
}
.mobbtn-tglcnt .mobbtn.active .base-bar-1 {
  width: auto;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
       -o-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg) translate(1px, -4px);
      -ms-transform: rotate(45deg) translate(1px, -4px);
       -o-transform: rotate(45deg) translate(1px, -4px);
          transform: rotate(45deg) translate(1px, -4px);
}
.mobbtn-tglcnt .mobbtn.active .base-bar-2 {
  opacity: 0;
}
.mobbtn-tglcnt .mobbtn.active .base-bar-3 {
  width: auto;
  margin-left: 0px;
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
      -ms-transform: rotate(-45deg) translate(5px, -6px);
       -o-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px);
}

.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 5px 55px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.site-navigation .nav-link {
  display: inline-block;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.site-navigation .nav-link:hover, .site-navigation .nav-link:active, .site-navigation .nav-link.active {
  text-decoration: none;
  background-color: transparent;
  color: #52FF00;
}
.site-navigation li.active .nav-link {
  text-decoration: none;
  background-color: transparent;
  color: #52FF00;
}

@media (max-width: 1200px) {
  .site-header-outer {
    padding: 50px 20px;
  }
  .site-header-outer.minipad {
    padding: 25px 20px;
  }
}
@media (max-width: 991px) {
  .site-header-outer {
    padding: 25px 20px;
  }
  .logo-cont .text-1, .logo-cont .text-2 {
    font-size: 18px;
    line-height: 22px;
  }
  .mobbtn-tglcnt {
    display: inline-block;
  }
  .site-main-nav {
    display: none;
    position: absolute;
    left: 0px;
    top: 94px;
    width: 100%;
    background-color: #041940;
  }
  .site-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 20px 30px 20px;
    gap: 10px 0px;
  }
  .site-navigation .nav-link {
    font-size: 18px;
  }
}
.site-footer {
  padding: 50px 20px;
  text-align: center;
  background-color: #ffffff;
}

.sfpad-1 {
  padding-bottom: 12px;
}

.sftext-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sftext-1 .highlight {
  font-weight: 600;
}
.sftext-1 .svg-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 10px;
}

.sftext-2 {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 991px) {
  .site-footer {
    padding: 30px 20px;
  }
  .sftext-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
  }
  .sftext-2 {
    font-size: 16px;
  }
}
/* ---- All Sections ---- */
.home-banner-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 154px 50px 90px 50px;
  background-color: #041940;
  min-height: 100vh;
}

.hbpad-1 {
  padding-bottom: 6px;
}

.hbtext-1 {
  display: block;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hbtext-1 .highlight {
  color: #52FF00;
  font-weight: 700;
}

.hbpad-2 {
  padding-bottom: 20px;
  max-width: 700px;
}

.hbtext-2 {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hbcta-flxcont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px 0px;
}
.hbcta-flxcont .ctapad {
  padding-right: 42px;
}
.hbcta-flxcont .gitsvg-pad {
  padding-right: 35px;
}
.hbcta-flxcont .svg-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.hbcta-flxcont .git-iconpos {
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
       -o-transform: translateY(6px);
          transform: translateY(6px);
}
.hbcta-flxcont .link-iconpos {
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
       -o-transform: translateY(4px);
          transform: translateY(4px);
}

.cta-download-cv {
  display: inline-block;
  text-decoration: none;
  padding: 8px 20px;
  margin: 0px;
  border: 2px solid #52FF00;
  background-color: #041940;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 5px 5px 0px 0px #52FF00;
          box-shadow: 5px 5px 0px 0px #52FF00;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.cta-download-cv.has-icon {
  position: relative;
}
.cta-download-cv .svg-icon {
  display: inline-block;
  width: 24px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 9px;
}
.cta-download-cv .fill {
  fill: #52FF00;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.cta-download-cv .stroke {
  stroke: #52FF00;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.cta-download-cv.icon-right {
  padding: 8px 60px 8px 20px;
}
.cta-download-cv.icon-right .svg-icon {
  left: auto;
  right: 20px;
}
.cta-download-cv.icon-left {
  padding: 8px 20px 8px 60px;
}
.cta-download-cv.icon-left .svg-icon {
  left: 20px;
}
.cta-download-cv:hover {
  text-decoration: none;
  background-color: #041940;
  color: #ffffff;
}
.cta-download-cv:active {
  -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
       -o-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  -webkit-box-shadow: 0px 0px 0px 0px #52FF00;
          box-shadow: 0px 0px 0px 0px #52FF00;
}

@media (max-width: 1200px) {
  .home-banner-outer {
    padding: 154px 20px 50px 20px;
  }
}
@media (max-width: 991px) {
  .home-banner-outer {
    padding: 100px 20px 50px 20px;
  }
  .hbtext-1 {
    font-size: 44px;
  }
  .hbtext-2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .home-banner-outer {
    padding: 100px 20px 40px 20px;
    min-height: -webkit-calc(100vh - 50px);
    min-height: calc(100vh - 50px);
  }
  .hbtext-1 {
    font-size: 22px;
  }
  .hbtext-2 {
    font-size: 14px;
  }
  .hbpad-1 {
    padding-bottom: 12px;
  }
  .hbpad-2 {
    max-width: 500px;
    padding-bottom: 12px;
  }
  .hbcta-flxcont .ctapad {
    padding-right: 25px;
  }
  .hbcta-flxcont .gitsvg-pad {
    padding-right: 20px;
  }
  .hbcta-flxcont .svg-icon {
    width: 30px;
    height: 30px;
  }
  .cta-download-cv {
    padding: 5px 15px;
    font-size: 14px;
    -webkit-box-shadow: 3px 3px 0px 0px #52FF00;
            box-shadow: 3px 3px 0px 0px #52FF00;
  }
  .cta-download-cv .svg-icon {
    width: 18px;
    height: 35px;
    top: 1px;
  }
  .cta-download-cv.icon-right {
    padding: 8px 55px 8px 20px;
  }
  .cta-download-cv.icon-right .svg-icon {
    left: auto;
    right: 18px;
  }
  .cta-download-cv.icon-left {
    padding: 8px 20px 8px 55px;
  }
  .cta-download-cv.icon-left .svg-icon {
    left: 18px;
  }
  .cta-download-cv:active {
    -webkit-transform: translate(3px, 3px);
        -ms-transform: translate(3px, 3px);
         -o-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
    -webkit-box-shadow: 0px 0px 0px 0px #52FF00;
            box-shadow: 0px 0px 0px 0px #52FF00;
  }
}
.about-mesec-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #52FF00;
  min-height: 100vh;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.about-mesec-inr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 20px 50px;
  position: relative;
  z-index: 3;
}

.abtsec-imgcnt {
  max-width: 485px;
  min-width: 485px;
  background-color: #52FF00;
}
.abtsec-imgcnt img {
  width: 100%;
  height: auto;
}

.abtcont-maxw {
  width: 100%;
  max-width: 520px;
  min-width: 520px;
}

.abtsec-pad-2 {
  padding-bottom: 30px;
}

.abtsec-ttladj {
  line-height: 75px;
}

.abtsec-dscadj {
  color: #041940;
}
.abtsec-dscadj p {
  color: #041940;
}

.asfl-ogridrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 5px 20px;
}

.asfl-olegtxt {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  color: #041940;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.asfl-ingridrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 5px 17px;
}

.asflw-link {
  display: inline-block;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 2px solid #041940;
  width: 45px;
  height: 45px;
  background-color: #52FF00;
  color: #041940;
  position: relative;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 3px 3px 0px 0px #041940;
          box-shadow: 3px 3px 0px 0px #041940;
}
.asflw-link .svg-icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.asflw-link:hover {
  text-decoration: none;
  background-color: #52FF00;
  color: #041940;
}
.asflw-link:active {
  -webkit-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px);
       -o-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: 0px 0px 0px 0px #041940;
          box-shadow: 0px 0px 0px 0px #041940;
}

.asbtxt-pos {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.asbtxt {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  color: rgba(4, 25, 64, 0.2);
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 175px;
}

@media (max-width: 1300px) {
  .asbtxt {
    font-size: 150px;
    line-height: 125px;
  }
}
@media (max-width: 1200px) {
  .abtcont-maxw {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: none;
    min-width: auto;
  }
  .asbtxt {
    font-size: 100px;
    line-height: 75px;
  }
}
@media (max-width: 991px) {
  .about-mesec-inr {
    gap: 20px;
  }
  .abtsec-ttladj {
    line-height: 55px;
  }
}
@media (max-width: 930px) {
  .abtsec-imgcnt {
    max-width: 385px;
    min-width: 385px;
  }
}
@media (max-width: 860px) {
  .about-mesec-inr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .abtsec-imgcnt {
    width: 100%;
    max-width: none;
    min-width: auto;
  }
  .abtcont-maxw {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
       -moz-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
@media (max-width: 767px) {
  .abtsec-ttladj {
    line-height: 35px;
  }
  .asbtxt {
    font-size: 50px;
    line-height: 45px;
  }
}

/*# sourceMappingURL=style.css.map */